.star-wrap {
    position: relative;
    display: inline-block;
    width: 24px;     
    height: 24px;       
    line-height: 24px;  
    overflow: hidden;
    margin-right: 2px;
}

.star-base {
    color: #ddd;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.star-fill {
    color: gold;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
}
