

.radio-container {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 4px;
}

.radio-container label {
    color: lightgray;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;
}

.radio-container [type="radio"] {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}


.radio-container [type="radio"]:checked ~ label,
.radio-container [type="radio"]:hover ~ label {
    color: gold;
}

